/* Imported Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@900&family=Lato:wght@300&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@360&family=Source+Sans+Pro:wght@300&display=swap'); */

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

/* Header */

header {
    margin: 0;
}

/* Navigation bar */
.nav-item .nav-link {
    font-family: Dancing Script, sans-serif;
    font-size: large;
    letter-spacing: 5px;
    padding: 15px;
}

/* Main area on home page */


#hero-outer {
    height: 630px;
    width: 100%;
    overflow: hidden;

    position: relative;
    margin-bottom: 15px;
}

#hero-image {
    min-height: 100%;
    width: 100%;
    background: url('../images/hero_background_image.jpg') no-repeat 30% 50%;
    background-size: cover;



    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: backwards;
}

@keyframes hero-zoom {
    from {
        transform: scale(1.5);
    }

    to {
        transform: scale(1);
    }
}

#cover-text {
    font-size: 150%;
    font-family: Dancing Script, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;

    width: auto;
    height: 160px;

    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(52, 56, 61, 0.7);

    bottom: 325px;
    right: 500px;

    position: sticky
}

#cover-text,
#cover-text h2 {
    line-height: normal;
}


#cover-text,
#cover-text h3 {
    font-size: medium;
    color: #FFFFFF;
    font-style: oblique;
    text-align: center;
}

.fa-seedling {
    font-size: x-large;
    color: #FFFFFF;
}

/* Menu page */

.background-image {
    background-image: url('../images/coffee_garden_logo.jpg');
    background-size: cover;
    background-position: center;
}

.menu_container {
    font-family: Dancing Script, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    width: auto;
    height: 600px;
    padding-top: 40px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    background-color: rgba(52, 56, 61, 0.7);
    position: sticky;
}

#our-new-menu {
    text-align: center;
    font-size: 300%;
}

.menu_options {
    color: #FFFFFF;
}

/* login page*/

.login-image {
    background-image: url('../images/coffee_garden_logo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    width: auto;
    height: 595px;
    padding-top: 22px;
    padding-left: 170px;
    color: #FFFFFF;
    border-style: solid;
    border-color: #ffffff;
    background-color: rgba(52, 56, 61, 0.7);
    border-width: 1px;
    margin-top: 1px;
    text-align: center;

}

/* Log Out */

.logout-image {
    background-image: url('../images/coffee_garden_logo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* register page*/

.register-image {
    background-image: url('../images/coffee_garden_logo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.square-container {
    width: 1100px;
    height: auto;
    padding-left: 170px;
    border-style: solid;
    border-color: #ffffff;
    color: #ffffff;
    background-color: rgba(52, 56, 61, 0.7);
    border-width: 1px;
    margin-left: 450px;
    text-align: center;
}

/* reservations page */

.book_a_table {
    background-image: url('../images/coffee_garden_logo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.booking_container {
    width: 800px;
    height: auto;
    padding-left: 137px;
    border-style: solid;
    border-color: #ffffff;
    color: #ffffff;
    background-color: rgba(52, 56, 61, 0.7);
    border-width: 1px;
    margin: auto;
    padding-bottom: 10px;
}

.login_container {
    width: 800px;
    height: 550px;
    padding-left: 137px;
    border-style: solid;
    border-color: #ffffff;
    color: #ffffff;
    background-color: rgba(52, 56, 61, 0.7);
    border-width: 1px;
    margin: auto;
    padding-top: 71px;
}

/* My Bookings */

.my_bookings_container {
    width: 800px;
    height: auto;
    padding-left: 137px;
    border-style: solid;
    border-color: #ffffff;
    color: #ffffff;
    background-color: rgba(52, 56, 61, 0.7);
    border-width: 1px;
    margin: auto;
}

.card {
    color: #2c2f33;
}

/*Thank you page*/

#thank-you-image {
    height: 500px;
    width: 100%;
    background: url('../images/coffee_garden_logo.jpg') center, center;



    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: backwards;
}

@keyframes hero-zoom {
    from {
        transform: scale(1.5);
    }

    to {
        transform: scale(1);
    }
}

#outer-box {
    font-size: 150%;
    font-family: Dancing Script, sans-serif;
    color: #beb3b3;
    text-align: center;
    height: auto;
    background-color: rgba(19, 22, 24, 0.7);
    bottom: 325px;
    right: 500px;
    position: sticky;
}

/* Footer */

#footer {
    margin-top: 10px;
}

#footer .fa {
    color: #b38d57;
    font-size: large;
}

.col-sm-4 {
    text-align: center;
}


/* Media Quiries */
@media screen and (max-width: 1300px) {
    .container {
        height: auto;

    }

    .square-container {
        width: auto;
        height: auto;
        padding-left: 0px;
        margin-left: 0px;
    }


}

/* Media quiries for tablet sized screens */
@media screen and (max-width: 950px) {
    #cover-text {
        bottom: 270px;
        right: 0px;
    }

    .login_container {
        width: auto;
    }

    .menu_container {
        height: auto;

    }

}

/* Media queries for mobile */

@media screen and (max-width:650px) {
    #cover-text {
        height: auto;
        padding-top: 10px;
    }

    .login_container {
        height: auto;
        padding-left: 65px;
        padding-top: 50px;
    }

    .container {
        padding-left: 0px;
    }

    .booking_container {
        width: auto;
        padding-left: 100px;
        padding-right: 85px;
    }

    .my_bookings_container {
        width: auto;
        padding-left: 50px;
        padding-right: 50px;
    }

    .menu_container {
        padding-top: 0px;
        padding-bottom: 75px;

    }

}

/* Media Query for small mobile devices*/

@media screen and (max-width:360px) {
    .menu_container {
        padding-bottom: 40px;

    }
}