{% extends "base.html" %}

{% block content %}

<!-- Booking Confirmation Section -->
<section id="hero-outer">
    <div id="booking-confirmation-image"></div>
    <div id="outer-box">
        <h2>Thank you for booking at the Coffee Garden</h2>
        <h3>Your booking has been processed successfully.</h3>
        <h3>To view, perform updates or cancel your reservation please <a href="{% url 'update_booking' %}">click
                here</a>
        </h3>
        <h3>To view our menu please <a href="{% url 'menu' %}">click here</a></h3>
    </div>

</section>

{%endblock%}