{% extends "base.html" %}

{% block content %}

{% load static %}

<!-- Menu Section -->
<section id="menu" class="background-image">
    <div class="menu_container">
        <h2 id="our-menu">Our Delicious Menu</h2>
        <br>

        <div class="col-lg-6 menu-item">
            <img src="{% static 'images/coffee_garden_breakfast.jpeg' %}" class="menu-img" alt="breakfast">
            <div class="menu-content">
                <a href="#">Coffee Garden Breakfast</a><span>£5.99</span>
            </div>
            <div class="menu-ingredients">
                Delicious homemade traditional English Breakfast freshly prepared.
            </div>
        </div>

        <div class="col-lg-6 menu-item">
            <img src="{% static 'images/bacon_avocado_poached_egg_toast.jpeg' %}" class="menu-img" alt="brunch">
            <div class="menu-content">
                <a href="#">Bacon Avocado Poached Egg on Toast</a><span>£5.50</span>
            </div>
            <div class="menu-ingredients">
                Toast served with poached eggs, bacon, avocado and grilled tomatoes.
            </div>
        </div>

        <div class="col-lg-6 menu-item">
            <img src="{% static 'images/cheese_and_ham_toastie.jpeg' %}" class="menu-img" alt="toastie">
            <div class="menu-content">
                <a href="#">Cheese and Ham Toastie</a><span>£4.99</span>
            </div>
            <div class="menu-ingredients">
                Wiltshire-cured ham and mature Cheddar cheese served with fresh salad.
            </div>
        </div>

        <div class="col-lg-6 menu-item">
            <img src="{% static 'images/coffee_and_cake.jpeg' %}" class="menu-img" alt="coffee and cake">
            <div class="menu-content">
                <a href="#">Coffee & Cake</a><span>£4.99</span>
            </div>
            <div class="menu-ingredients">
                Coffee of your choice served with a yummy slice of our homemade cakes.
            </div>
        </div>

        <div class="col-lg-6 menu-item">
            <img src="{% static 'images/homemade_crepe.jpeg' %}" class="menu-img" alt="crepe">
            <div class="menu-content">
                <a href="#">Crepes</a><span>£3.99</span>
            </div>
            <div class="menu-ingredients">
                Delicious Sweet & Savoury Crepes, freshly made using homemade batter.
            </div>
        </div>
    </div>

</section>

{% endblock %}