{% extends "base.html" %}

{% block content %}

{% load static %}

<section id="menu" class="background-image">
    <div class="menu_container">
        <h2 id="our-menu">Our New Menu</h2>
        <br>

        <div class="col-lg-6 menu-item">
            <img src="{% static 'images/coffee_garden_breakfast.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
                <a href="#">Coffee Garden Breakfast</a><span>£5.99</span>
            </div>
            <div class="menu-ingredients">
                Delicious homemade breakfast with avocado mash and sour cream sauce.
            </div>
        </div>

        <div class="col-lg-6 menu-item">
            <img src="{% static 'images/coffee_garden_breakfast.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
                <a href="#">Coffee Garden Breakfast</a><span>£5.99</span>
            </div>
            <div class="menu-ingredients">
                Delicious homemade breakfast with avocado mash and sour cream sauce.
            </div>
        </div>

        <div class="col-lg-6 menu-item">
            <img src="{% static 'images/coffee_garden_breakfast.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
                <a href="#">Coffee Garden Breakfast</a><span>£5.99</span>
            </div>
            <div class="menu-ingredients">
                Delicious homemade breakfast with avocado mash and sour cream sauce.
            </div>
        </div>

        <div class="col-lg-6 menu-item">
            <img src="{% static 'images/coffee_garden_breakfast.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
                <a href="#">Coffee Garden Breakfast</a><span>£5.99</span>
            </div>
            <div class="menu-ingredients">
                Delicious homemade breakfast with avocado mash and sour cream sauce.
            </div>
        </div>

        <div class="col-lg-6 menu-item">
            <img src="{% static 'images/coffee_garden_breakfast.jpg' %}" class="menu-img" alt="">
            <div class="menu-content">
                <a href="#">Coffee Garden Breakfast</a><span>£5.99</span>
            </div>
            <div class="menu-ingredients">
                Delicious homemade breakfast with avocado mash and sour cream sauce.
            </div>
        </div>


    </div>

</section>

{% endblock %}